/* .sgpro__hero{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    height: 50vh;
    .sgpro__container{
        display: flex;
        align-content: center;
        background-color:$color-black ;
        display: flex;
        flex-direction: row;
        img {
            width: 30%;
        }
    }
    .sgpro__text{
        display: flex;
        align-content: center;
        color: white;
        text-align: right;
    }
}    */